name: Docker Build and Push

on:
  push:
    branches:
      - main
    tags:
      - 'v*'
  pull_request:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    env:
      IMAGE_NAME: lilacostaro/airflow_extended_teste

    steps:
      - name: Checkout do código
        uses: actions/checkout@v4

      - name: Definir Tag da Imagem
        shell: bash
        run: |
          if [[ "${{ github.ref }}" == refs/tags/* ]]; then
            echo "FINAL_TAG=${GITHUB_REF#refs/tags/}" >> $GITHUB_ENV
          else
            echo "FINAL_TAG=run-${{ github.run_number }}" >> $GITHUB_ENV
          fi
      - name: Criar arquivo .env para Airflow
        run: echo "AIRFLOW_UID=$(id -u)" > .env

      - name: Construir a imagem Docker
        run: |
          docker build \
            -t ${{ env.IMAGE_NAME }}:${{ env.FINAL_TAG }} \
            -t ${{ env.IMAGE_NAME }}:latest .

      - name: Verificar bibliotecas instaladas na imagem
        run: |
          docker run --rm --entrypoint /bin/sh ${{ env.IMAGE_NAME }}:${{ env.FINAL_TAG }} -c "pip freeze"

      - name: Baixar imagens dependentes (Postgres e Redis)
        run: |
          docker pull postgres:13
          docker pull redis:latest

      - name: Subir container para teste
        run: |
          docker compose up airflow-init

      - name: Subir Airflow para teste
        run: |
          docker compose up -d
          echo "Aguardando serviços subirem..."
          sleep 60
          docker compose ps

      - name: Verificar se o Airflow está rodando
        run: |
          docker ps -a
          echo "Consultando logs do webserver..."
          docker logs $(docker compose ps -q airflow-webserver)

      - name: Parar o airflow
        run: |
          docker compose down

      - name: Login no Docker Hub
        if: github.ref == 'refs/heads/main'
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Publicar imagem no Docker Hub
        if: github.ref == 'refs/heads/main'
        run: |
          docker push ${{ env.IMAGE_NAME }}:${{ env.FINAL_TAG }}
          docker push ${{ env.IMAGE_NAME }}:latest